@font-face {
    font-family: 'Gilroy';
    src: url(../../../../fonts/Gilroy/Gilroy-Regular.ttf);
}

@font-face {
    font-family: 'Work Sans';
    src: url(../../../../fonts/Worksans/WorkSans-Regular.otf)
}

.usefulArtBlock {
    width: 100%;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usefulArtHeader {
    width: 1110px;
    display: flex;
    justify-content: space-between;
}

.usefulArtBigText {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 85px;
    color: #FFFFFF;
}

.usefulArtViewAll {
    display: flex;
    align-items: center;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #929292;
    cursor: pointer;
}

.usefulArtViewAll::after {
    display: block;
    margin-left: 20px;
    content: '';
    border-top: 1px solid #929292;
    border-right: 1px solid #929292;
    width: 10px;
    height: 10px;
    transform: rotateZ(45deg);
}

.usefulArtViewAll:hover,
.usefulArtViewAll:hover::after {
    color: #FCD54C;
    border-color: #FCD54C;
}

.usefulArtWrapper {
    margin-top: 80px;
    display: flex;
    gap: 30px;
}

.usefulArticle {
    background-size: cover;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

.article1 {
    background: url(../../../../images/useful1.png) no-repeat;
}

.article2 {
    background: url(../../../../images/project2.png) no-repeat;
}

.article3 {
    background: url(../../../../images/useful3.png) no-repeat;
}

.usefulArticleInfo {
    background: #272727;
    width: 100%;
    height: 100%;
    padding: 41px 35px 0 35px;
    position: absolute;
    top: 350px;
    transition: all 0.2s linear;
}

.usefulArticle:hover .usefulArticleInfo {
    border: 1px solid #FCD54C;
    top: 0;
    transition: all 0.2s linear;
}

.articleInfoDate {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.articleInfoHeader {
    position: absolute;
    top: -70px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 35px;
    color: #FFFFFF;
    transition: all 0.2s linear;
}

.usefulArticle:hover .articleInfoHeader {
    top: 82px;
    transition: all 0.2s linear;
}

.articleInfoText {
    margin-top: 78px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #929292;
}

.articleInfoLearnMore {
    margin-top: 52px;
    display: flex;
    align-items: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FCD54C;
    cursor: pointer;
}

.articleInfoLearnMore::after {
    display: block;
    margin-left: 20px;
    content: '';
    border-top: 1px solid #FCD54C;
    border-right: 1px solid #FCD54C;
    width: 10px;
    height: 10px;
    transform: rotateZ(45deg);
}




@media screen and (max-width: 1440px) {
    .usefulArticleInfo {
        padding-right: 30px;
        padding-left: 35px;
    }

    .usefulArtHeader {
        width: 83%;
        font-size: 23px;
    }

    .usefulArtWrapper {
        width: 83%;
    }
}

@media screen and (max-width: 1024px) {
    .usefulArtHeader {
        width: 100%;
    }

    .usefulArtWrapper {
        width: 100%;
    }

    .articleInfoHeader {
        font-size: 22px;
        line-height: 30px;
    }
}

@media screen and (max-width: 768px) {
    .usefulArtBigText {
        font-size: 30px;
        line-height: 37px;
    }

    .usefulArtViewAll {
        font-size: 12px;
        line-height: 15px;
    }

    .usefulArtViewAll::after {
        width: 8px;
        height: 8px;
    }

    .usefulArtWrapper {
        margin-top: 38px;
    }

    .usefulArticle {
        width: 208px;
        height: 220px;
    }

    .usefulArticleInfo {
        padding: 25px 32px 0 25px;
        top: 208px;
    }

    .articleInfoDate {
        font-size: 12px;
        line-height: 14px;
    }

    .articleInfoHeader {
        top: -50px;
        font-size: 19px;
        line-height: 22px;
    }

    .usefulArticle:hover .articleInfoHeader {
        top: 52px;
    }

    .articleInfoText {
        margin-top: 70px;
        font-size: 12px;
        line-height: 14px;
    }

    .articleInfoLearnMore {
        margin-top: 25px;
        font-size: 12px;
        line-height: 0px;
    }

    .articleInfoLearnMore::after {
        width: 8px;
        height: 8px;
    }
}