.dontLimitBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dontLimitHeaderText {
    border: 1px solid #FCD54C;
    max-width: 1110px;
    margin-top: 118px;
    padding: 70px 94px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 160%;
    color: #FFFFFF;
}

.maryKayLink {
    text-decoration: none;
    color: #FCD54C;
}

.dontLimitArticlesBlock {
    max-width: 1110px;
    margin-top: 64px;
    display: flex;
    justify-content: center;
    gap: 23px;
}

.dontLimitArticle {
    max-width: 543px;
    display: flex;
    flex-direction: column;
}

.articleImage {
    width: 100%;
    height: auto;
}

.articleText {
    margin-top: 70px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #E8E8E8;
}



@media screen and (max-width: 1024px) {
    .articleImage {
        height: 258px;
    }

    .articleText {
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {

    .dontLimitHeaderText {
        padding-top: 38px;
        padding-bottom: 38px;
        font-size: 18px;
    }

    .articleImage {
        height: 194px;
    }

    .articleText {
        font-size: 14px;
    }
}

