@font-face {
    font-family: 'Space Grotesk';
    src: url(../../../fonts/SpaceGrotesk/SpaceGrotesk.ttf);
}

@font-face {
    font-family: 'Work Sans';
    src: url(../../../fonts/Worksans/WorkSans-Regular.otf);
}

@font-face {
    font-family: 'Gilroy';
    src: url(../../../fonts/Gilroy/Gilroy-Black.ttf);
}



.presentBlock {
    background: url(../../../images/slider1.png)no-repeat;
    width: 100%;
    height: 971px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    color: #ffffff;
}



/* ----------------------- */
.presentText {
    background: url(../../../images/RectanglePresentationBg.png) no-repeat;
    background-size: contain;
    width: 742px;
    height: 383px;
    padding-left: 28px;
    padding-top: 44px;
    position: absolute;
    top: 278px;
    left: 20%;
    display: flex;
    flex-direction: column;
}

.presentTextHeader {
    font-family: 'Work Sans';
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.presentTextDescribe {
    margin-top: 22px;
    font-family: 'Space Grotesk';
    font-size: 96px;
    font-weight: 700;
    line-height: 100px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.presentTextDescribe>span {
    color: #FCD54C;
}

.presentTextConsult {
    margin-top: 30px;
    font-family: 'Work Sans';
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    color: #FFFFFF;
    font-weight: 700;
}



/* ------------------- */
.presentSocials {
    width: 20px;
    height: 162px;
    margin-top: 40px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.presentSocialsBtn {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.facebook {
    background: url(../../../images/socialIcons.png) no-repeat center 0;
}

.twitter {
    background: url(../../../images/socialIcons.png) no-repeat center -35px;
}

.youtube {
    background: url(../../../images/socialIcons.png) no-repeat center -70px;
}

.instagram {
    background: url(../../../images/socialIcons.png) no-repeat center -105px;
}

.linkedIn {
    background: url(../../../images/socialIcons.png) no-repeat center -143px;
}


/* --------------- */
.presentSwitchBlock {
    width: 74%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presentSwitchNextPrev {
    width: 167px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presentSwitchBtn {
    font-family: 'Gilroy';
    font-size: 20px;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 0.2em;
    color: #E8E8E8;
    cursor: pointer;
}

.switchBtnLine {
    background: #ffffff;
    width: 2px;
    height: 20px;
}



.presentSwitchPagesBlock {
    background: #272727;
    width: 80%;
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.presentSwitchPage {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.pageNumber {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    color: #FCD54C;
}

.pageText {
    width: 120px;
}






/* ---------------------- */
@media screen and (max-width: 1440px) {
    .presentText {
        left: 10%;
    }
}

@media screen and (max-width: 1024px) {
    .presentBlock {
        height: 771px;
    }

    .presentText {
        top: 160px;
    }

    .presentSwitchBlock {
        width: 80%;
        height: 130px;
    }

    .presentSwitchNextPrev {
        width: 140px;
    }

    .presentSwitchPagesBlock {
        width: 75%;
    }

    .presentSwitchPage {
        width: 170px;
        font-size: 13px;
    }

    .pageNumber {
        font-size: 55px;
    }

    .pageText {
        width: 100px;
    }
}


@media screen and (max-width: 768px) {
    .mainBlock {
        padding: 0 39px;
    }

    .presentBlock {
        background-size: cover;
        height: 372px;
    }

    .presentText {
        width: 420px;
        height: 229px;
        padding-top: 25px;
        top: 39px;
    }

    .presentTextHeader {
        font-size: 10px;
        line-height: 12px;
    }

    .presentTextDescribe {
        font-size: 50px;
        line-height: 64px;
    }

    .presentTextConsult {
        margin-top: 8px;
        font-size: 16px;
        line-height: 19px;
    }

    .presentSocials {
        margin-top: 20px;
        margin-right: 12px;
    }

    .presentSocialsBtn {
        width: 15px;
        height: 15px;
    }

    .presentSwitchBlock {
        height: 70px;
        width: 94%;
    }

    .presentSwitchNextPrev {
        width: 80px;
    }

    .presentSwitchBtn {
        font-size: 10px;
        line-height: 24px;
    }

    .switchBtnLine {
        height: 15px;
    }

    .presentSwitchPagesBlock {
        width: 80%;
    }

    .presentSwitchPage {
        width: 140px;
        font-size: 12px;
        line-height: 14px;
    }

    .pageNumber {
        font-size: 40px;
        line-height: 50px;
    }

    .pageText {
        width: 90px;
    }
}