@font-face {
    font-family: 'Gilroy';
    src: url(../../../fonts/Gilroy/Gilroy-Regular.ttf);
}

@font-face {
    font-family: 'Work Sans';
    src: url(../../../fonts/Worksans/WorkSans-Regular.otf)
}


.latestProjectsBlock {
    width: 100%;
    margin-top: 124px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectsNav {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.projectsHeader {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
    color: #FFFFFF;
}

.projectsMenuBlock {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectsMenuList {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    cursor: pointer;
}

.projectsMenuList:hover {
    color: #FCD54C;
}


/* ----------------------- */
.projectsSliderBlock {
    width: 100%;
    margin-top: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rpojectListWrapper {
    width: 100%;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.projectList {
    width: 430px;
    height: 572px;
}

.project1 {
    background: url(../../../images/project1.png) no-repeat;
}

.project2 {
    background: url(../../../images/project2.png) no-repeat;
}

.project3 {
    background: url(../../../images/project3.png) no-repeat;
}

.project4 {
    background: url(../../../images/project4\ \(expo\ valley\).jpg) no-repeat;
    background-size: cover;
}

.switchSliderBlock {
    width: 73px;
    height: 13px;
    margin-top: 98px;
    display: flex;
    justify-content: space-between;
}

.switchSlide {
    border-radius: 50%;
    background: #929292;
    width: 13px;
    height: 13px;
    cursor: pointer;
}




/* ------------------------ */
.projectsExpertiseBlock {}