@font-face {
    font-family: 'Gilroy';
    src: url(../../../fonts/Gilroy/Gilroy-Regular.ttf);
}

@font-face {
    font-family: 'Work Sans';
    src: url(../../../fonts/Worksans/WorkSans-Regular.otf)
}


.latestProjectsBlock {
    width: 100%;
    margin-top: 124px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectsNav {
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.projectsHeader {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
    color: #FFFFFF;
}

.projectsMenuBlock {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectsMenuList {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    cursor: pointer;
}

.projectsMenuList:hover {
    color: #FCD54C;
}


/* ----------------------- */
.projectsSliderBlock {
    width: 100%;
    margin-top: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rpojectListWrapper {
    width: 100%;
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.projectList {
    width: 430px;
    height: 572px;
    position: relative;
    overflow: hidden;
}

.project1 {
    background: url(../../../images/project1.png) no-repeat;
}

.project2 {
    background: url(../../../images/project2.png) no-repeat;
}

.project3 {
    background: url(../../../images/project3.png) no-repeat;
}

.project4 {
    background: url(../../../images/project4\ \(expo\ valley\).jpg) no-repeat;
    background-size: cover;
}

.projectDescribe {
    height: 100%;
    width: 100%;
    padding-left: 30px;
    padding-right: 60px;
    padding-top: 46px;
    padding-bottom: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 1;
    top: 410px;
    left: 0;
    transition: all 0.2s linear;
}

.projectDescribeHeader {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
    color: #FFFFFF;
    transition: all 0.2s linear;
}

.projectDescribeText {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #272727;
}

.projectDescribeSeeMore {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #272727;
    cursor: pointer;
}

.projectList:hover .projectDescribe {
    background: #FCD54C;
    top: 0;
    transition: all 0.2s linear;
}

.projectList:hover .projectDescribeHeader {
    color: #272727;
}



.switchSliderBlock {
    width: 73px;
    height: 13px;
    margin-top: 98px;
    display: flex;
    justify-content: space-between;
}

.switchSlide {
    border-radius: 50%;
    background: #929292;
    width: 13px;
    height: 13px;
    cursor: pointer;
}




/* ------------------------ */
.projectsExpertiseBlock {
    max-width: 730px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.projectsExpertiseSmallHeader {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    color: #FCD54C;
}

.projectsExpertiseBigHeader {
    margin-top: 40px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 69px;
    color: #E8E8E8;
}

.projectsExpertiseText {
    margin-top: 33px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #E8E8E8;
}




@media screen and (max-width: 1024px) {
    .projectsHeader {
        font-size: 35px;
    }
}

@media screen and (max-width: 768px) {
    .latestProjectsBlock {
        margin-top: 99px;
    }

    .projectsNav {
        width: 100%;
    }

    .projectsHeader {
        font-size: 30px;
        line-height: 37px;
    }

    .projectsMenuList {
        font-size: 12px;
        line-height: 14px;
    }

    .projectList {
        width: 165px;
        height: 220px;
    }

    .projectsExpertiseSmallHeader {
        font-size: 16px;
        line-height: 19px;
    }

    .projectsExpertiseBigHeader {
        max-width: 450px;
        margin-top: 14px;
        font-size: 30px;
        line-height: 37px;
    }

    .projectsExpertiseText {
        margin-top: 23px;
        font-size: 14px;
    }
}