@font-face {
    font-family: "Work Sans";
    src: url(../../../fonts/Worksans/WorkSans-Regular.otf);
}
@font-face {
    font-family: "Gilroy";
    src: url(../../../fonts/Gilroy/Gilroy-Regular.ttf);
}


.navBlock {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navLogo {
    background: url(./../../../images/logoBg.png) no-repeat left top;
    height: 65px;
    padding-top: 5px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.navLogoBigText {
    font-family: 'Gilroy';
    font-size: 28px;
    line-height: 35px;
    color: #FFFFFF;
}

.navLogoSmallText {
    font-family: 'Work Sans';
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    opacity: 0.6;
}




.navListItems {
    width: 50%;
    padding-top: 30px;
    display: flex;
    gap: 40px;
}

.navList {
    text-decoration: none;
    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FCD54C;
}




.navConsultation {
    width: 27%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navConsultButton {
    border: none;
    background: #FCD54C;
    min-width: 165px;
    height: 41px;
    font-family: 'Work Sans';
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.navConsultNumber {
    min-width: 115px;
    text-decoration: none;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}