@font-face {
    font-family: "Work Sans";
    src: url(../../../fonts/Worksans/WorkSans-Regular.otf);
}

@font-face {
    font-family: "Gilroy";
    src: url(../../../fonts/Gilroy/Gilroy-Regular.ttf);
}


.navBlock {
    width: 30%;
    margin-left: 7%;
    display: flex;
    justify-content: space-evenly;
}

.navList {
    position: relative;
    text-decoration: none;
    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #ffffff;
}

.navList::after {
    background: #FCD54C;
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    top: 20px;
    left: 0;
    transition: width 0.2s linear;
}

.navList:hover, .navList:focus {
    color: #FCD54C;
}

.navList:hover::after, .navList:focus::after {
    color: #FCD54C;
    width: 100%;
    transition: width 0.2s linear;
}

.navListBuy {
    width: 45px;
}

.menuArrow {
    background: url(../../../images/buyArrow.png) no-repeat center;
    width: 10px;
    height: 10px;
    position: absolute;
    right: -2px;
    top: 4px;
    transform: rotateZ(-90deg);
    transition: transform 0.2s linear;
}

.navListBuyCategory {
    border: 1px solid #ffffff;
    background: #272727;
    width: 0;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 0;
    transition: width 0.5s linear;
}

.navListBuy:focus .navListBuyCategory {
    display: flex;
    width: 300px;
    transition: width 0.5s linear;
}

.navListBuy:focus .menuArrow{
    transform: rotateZ(0deg);
    transition: transform 0.2s linear;
}

.categoryList {
    padding-left: 20px;
    text-decoration: none;
    font-family: 'Gilroy';
    font-size: 12px;
    line-height: 40px;
    color: #ffffff;
}

.categoryList:hover {
    background: #FCD54C;
    color: #000000;
}



@media screen and (max-width: 1440px) {
    .navBlock {
        justify-content: space-between;
    }
}



@media screen and (max-width: 768px) {

    .navBlock {
        display: none;
        background: #272727;
        width: 100%;
        margin: 0;
        position: absolute;
        left: 0;
        top: 100px;
    }

    .navListItems {
        flex-direction: column;
        height: 100vh;
        width: 100%;
        align-items: center;
    }

}