@font-face {
    font-family: "Work Sans";
    src: url(../../../fonts/Worksans/WorkSans-Regular.otf);
}

@font-face {
    font-family: "Gilroy";
    src: url(../../../fonts/Gilroy/Gilroy-Regular.ttf);
}


.navBlock {
    height: 80px;
    margin-left: 7%;
}



/* ------------------------- */

.navListItems {
    /* width: 40%; */
    padding-top: 30px;
    display: flex;
    gap: 40px;
}

.navList {
    position: relative;
    text-decoration: none;
    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1rem;
    color: #ffffff;
}

.navList::after {
    background: #FCD54C;
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    top: 20px;
    left: 0;
    transition: width 0.2s linear;
}

.navList:hover {
    color: #FCD54C;
}

.navList:hover::after {
    width: 100%;
    transition: width 0.2s linear;
}

.navListBuy {
    position: relative;
    width: 45px;
    background: url(./../../../images/buyArrow.png) no-repeat right 8px;
}

.navListBuyCategory {
    border: 1px solid #ffffff;
    background: #272727;
    width: 300px;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 0;
}

.navListBuy:focus .navListBuyCategory {
    display: flex;
}

.categoryList {
    padding-left: 20px;
    text-decoration: none;
    font-family: 'Gilroy';
    font-size: 12px;
    line-height: 40px;
    color: #ffffff;
}

.categoryList:hover {
    background: #FCD54C;
    color: #000000;
}





@media screen and (max-width: 768px) {

    .navBlock {
        display: none;
        background: #272727;
        width: 100%;
        margin: 0;
        position: absolute;
        left: 0;
        top: 100px;
    }

    .navListItems {
        flex-direction: column;
        height: 100vh;
        width: 100%;
        align-items: center;
    }

}