@font-face {
    font-family: 'Work Sans';
    src: url(../../../fonts/Worksans/WorkSans-Regular.otf);
}

@font-face {
    font-family: 'Gilroy';
    src: url(../../../fonts/Gilroy/Gilroy-Black.ttf);
}

.investorsBlock {
    width: 106.66%;
    margin-top: 226px;
    position: relative;
    left: -3.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.investorsSliderWrap {
    height: 410px;
    display: flex;
    align-items: flex-end;
    gap: 60px;
    position: relative;
}

.investorSlide {
    border: 1px solid #FCD54C;
    width: 27.6vw;
    height: 311px;
    padding-left: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.investorSlide:nth-child(1) {
    top: -40px;
    opacity: 0.3;
}

.investorSlide:nth-child(4) {
    top: -40px;
    opacity: 0.3;
}

.investor {
    border-radius: 50%;
    width: 112px;
    height: 112px;
    position: absolute;
    top: -56px;
    left: 31px;
}

.investor1 {}

.investor2 {}

.quotes {
    background: url(../../../images/quotes.png) no-repeat;
    width: 55px;
    height: 40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: 20px;
}

.investorName {
    margin-top: 18px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}

.investorCompany {
    margin-top: 19px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.investorLink {
    text-decoration: none;
    color: #FCD54C;
}

.investorText {
    margin-top: 34px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #929292;
}


.investorSlideSwitcher {
    width: 73px;
    margin-top: 44px;
    display: flex;
    justify-content: space-between;
}

.investorSwitch {
    border-radius: 50%;
    background: #929292;
    width: 13px;
    height: 13px;
    cursor: pointer;
}

.investorSwitch:nth-child(2) {
    background: #FCD54C;
}


@media screen and (max-width: 1440px) {
    .investorSlide {
        width: 33.4vw;
    }
}

@media screen and (max-width: 1024px) {
    .investorsBlock {
        margin-top: 115px;
    }

    .investorsSliderWrap {
        gap: 30px;
    }

    .investorSlide {
        width: 32.3vw;
        height: 200px;
        padding-left: 20px;
        padding-right: 23px;
    }

    .investor {
        width: 68px;
        height: 68px;
        top: -34px;
        left: 20px;
    }

    .quotes {
        background-size: contain;
        width: 40px;
        height: 30px;
        margin-top: 20px;
        margin-right: 0;
    }

    .investorName {
        margin-top: 8px;
    }

    .investorCompany {
        margin-top: 8px;
        font-size: 12px;
        line-height: 14px;
    }

    .investorText {
        margin-top: 8px;
        font-size: 12px;
        line-height: 14px;
    }
}

@media screen and (max-width: 768px) {
    .investorsSliderWrap {
        height: 234px;
    }

    .investorSlide {
        width: 43vw;
    }
}